a {
  color: #5a5a5a;
  font-size: 1em;
  font-weight: bold;
  padding: 1.875em 0.625em;
  text-transform: uppercase;
  text-decoration: none;
}
.section {
  display: block;
  text-align: center;
}
.section img {
  width: 50%;
  height: 50%;
  display: block;
  margin: auto;
}

}
.portfolio {
  background-color: #efefef;
  border-bottom: 1px solid #dbdbdb;
}
h3 {
  color: #393c3d;
  font-size: 1.5em;
  font-weight: bold;
}
.portfolio p {
  font-size: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
}
img {
  cursor: crosshair;
}
h1 {
  font-family: 'Gabriela', Tahoma, sans-serif;
  font-size: 3.7em;
  font-weight: 600;
  line-height: 1.2em;
  margin-bottom: 1em;
  text-align: center;
  color: #514b53;
  letter-spacing: -0.06em;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
}

/** media queries **/
@media screen and (max-width: 780px) {
  #portfolio {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media screen and (max-width: 550px) {
  #portfolio {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}
.footer p {
  font-size: 12px;
  text-align: center;
}
.footer {
  bottom: 0;
  left: 0;
  width: 100%;
}
